<% if logged_in? %>

<% if false %>
  <div class="row">
    <aside class="col-md-4">
      <%= form_for(@task2) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
    <div class="col-xs-8">
      <%= render 'task2s/task2s', task2s: @task2s, user: @user %>
    </div>
  </div>
<%end%>

<% if false %>
<h1>タスクリスト</h1>

<ul>
  <% @task2s.each do |task2| %>
    <li><%= link_to task2.id, task2 %> : <%= task2.content %> > <%= task2.status %></li>
  <% end %>
</ul>

<%= link_to '新規タスクの投稿', new_task2_path %>
%>
<% end %>

<h1>タスク一覧</h1>

<% if @task2s.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>コンテンツ</th>
        <th>ステータス</th></th>
      </tr>
    </thead>
    <tbody>
      <% @task2s.each do |task2| %>
        <tr>
          <td><%= link_to task2.id, task2 %></td>
          <td><%= task2.content %></td>
          <td><%= task2.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @task2s %>
  </div>
<% end %>

<% if false %><%= link_to '新規タスクの投稿', new_task2_path, class: "btn btn-primary" %><%end%>
<%= link_to '新規タスクの投稿', new_task2_path, class: "btn btn-primary" %>
<%else%>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Microposts</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>